<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="SOCKET" class="com.kodz.unjenkins.logging.SocketAppender">
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <logger name="com.kodz.unjenkins.server" level="DEBUG">
        <appender-ref ref="SOCKET" />
            </logger>
    <logger name="com.kodz.unjenkins.client" level="DEBUG">
        <appender-ref ref="SOCKET" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
