<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="SOCKET" class="com.kodz.unjenkins.logging.SocketAppender">
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.kodz.unjenkins.server" level="DEBUG">
        <appender-ref ref="SOCKET" />
            </logger>
    <logger name="com.kodz.unjenkins.client" level="DEBUG">
        <appender-ref ref="SOCKET" />
    </logger>

    <logger name="com.kodz" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="DEBUG">

    </root>

</configuration>
